{% extends "scheduler/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1>To change your profile fill out the form below: </h1>

<!-- Signal if someone has been added -->
{% if success_msg %}<p class="alert alert-success">{{ success_msg }}</p> {% endif %}

{% if formset %}
<form method="post" class="container">
    {% csrf_token %}

    {{ formset|crispy }}
    <input class="btn btn-primary" type="submit" name="Submit">
</form>
{% else %}
<div class="row">
    <div class="col-sm-8">

        <h3 class="mt-5">You don't have a scheduling profile. Please contact the system administrator if you are
            supposed
            to.
        </h3>
    </div>
</div>
{% endif %}


{% endblock %}