{% extends "scheduler/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1 class="my-3">Hi, {{ user.username|default:'guest user' }}</h1>

<h2 class="mb-5">Here is the current schedule</h2>
{% if msg %} <p class="alert alert-danger">{{ msg }}</p>{% endif %}

{% if sched %}
<div class="container">

    {% for name, value in sched.get_fields %}
        {% if name == 'created' or name == 'updated' or name == 'id' %}
        {% elif value|length_is:"3" %}
            <div class="row mb-2 border border-dark">
                <div class="col-sm-3 border bg-light"><span class="font-weight-bold text-uppercase">{{name}}</span> </div>
                <div class="col-sm-3">{{value.0}}</div>
                <div class="col-sm-3 border bg-light">{{value.1}}</div>
                <div class="col-sm-3">{{value.2}}</div>
            </div>
        {% elif value|length_is:"2" %}
            <div class="row mb-2 border border-dark">
                <div class="col-sm-3 border bg-light"><span class="font-weight-bold text-uppercase">{{name}}</span> </div>
                <div class="col-sm-3">{{value.0}}</div>
                <div class="col-sm-3 border bg-light">{{value.1}}</div>
            </div>
        {% else %}
            <div class="row mb-2 border border-dark">
                <div class="col-sm-3 border bg-light"><span class="font-weight-bold text-uppercase">{{name}}</span> </div>
                <div class="col-sm-3">{{value.0}}</div>
                <div class="col-sm-3 bg-light"></div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}