{% extends "scheduler/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1 class="my-3">Hi, {{ user.username }}</h1>

<h3 class="mb-5">Here is the current schedule</h3>

{% if sched %}
<div class="container">

    {% for name, value in sched.get_fields %}
    <div class="row mb-2">
        <div class="col-sm-2"><span class="font-weight-bold text-uppercase">{{name}}</span> </div>

        <div class="col-sm-10">{{value}}</div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}