{% extends "scheduler/base.html" %}

{% block content %}

<h1>Current Schedule Schema</h1>

{% if error_msg %} <p class="alert alert-danger">{{ error_msg }}</p> {% endif %}

{% if schedule_schema %}
<div class="container">
    <h2>{{ schedule_schema.name }}</h2>

    {% for name, value in schedule_schema.get_fields %}
        {% if name == 'created' or name == 'updated' or name == 'id' or name == 'name' %}
        {% else %}
        <div class="row mb-1 ml-2 border">
            <div class="col-sm-3 font-weight-light bg-light">{{ name }}</div>
            <div class="col-sm-3">
                {% if value == "True"%}
                Required
                {% else %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}

</div>
{% endif %}


{% endblock %}